.carousel {
  /*margin-bottom: 1.5rem;*/

  .sliderImage {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .direction {
    z-index: auto;
  }

  .carousel-inner {
    height: 500px;
    margin: 0;
  }

  .carousel-item {
    height: 100%;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }

    .caption {
      color: $white;
      padding: 1rem 0;

      .caption-description {
        p {
          font-size: 1rem;
          color: $white;
        }

        h3 {
          font-size: 1.25rem;
          font-weight: normal;
          color: $brand-primary;
        }
      }

      .display-1 {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1;
      }
    }

    figure {
      display: inline-block;
      margin: 0;
    }
  }

  .carousel-control {
    opacity: 1;

    .icon-next,
    .icon-prev {

      @at-root .lang-rtl & {
        .material-icons {
          transform: rotate(-180deg);
        }
      }

      &::before {
        content: "";
      }

      i {
        font-size: 3.125rem;
        color: $white;
      }

      &:hover {
        i {
          color: $brand-primary;
        }
      }
    }

    .icon-prev {
      left: 3rem;
    }

    .icon-next {
      right: 3rem;
    }

    &.left,
    &.right {
      background: none;
    }
  }
}

.carousel-indicators {
  li {
    border-color: $gray;
  }

  .active {
    background-color: $gray;
  }
}

@include media-breakpoint-up(lg) {
  .carousel {
    .carousel-indicators {
      display: none;
    }
  }
}

@include media-breakpoint-down(lg) {
  .carousel {
    .carousel-inner {
      height: auto;
    }
  }
}

@include media-breakpoint-down(md) {
  .carousel {
    left: 50%;
    width: 100vw;
    padding-bottom: 0.5rem;
    margin-left: -50vw;
    background-color: $gray-light;
    box-shadow: none;

    .carousel-control {
      .icon-prev,
      .icon-next {
        width: auto;
        height: auto;
      }
    }

    .carousel-item {
      .caption {
        position: static;
        margin: 1.275rem auto 2.5rem;
        text-align: center;

        .display-1 {
          font-size: 2rem;
        }

        .caption-description {
          h3,
          p {
            color: $white;
          }

          h3 {
            font-size: 1rem;
          }
        }
      }
    }

    .direction {
      position: absolute;
      top: calc(50%);
      width: 100%;

      .carousel-control {
        .icon-prev {
          left: 0;
          margin-left: 0;
        }

        .icon-next {
          right: 0;
          margin-right: 0;
        }

        i {
          background: rgba(122, 122, 122, 0.5);
        }
      }
    }
  }

  .carousel-indicators {
    li {
      width: 8px;
      height: 8px;
    }

    .active {
      width: 8px;
      height: 8px;
      margin: 1px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .carousel {
    .carousel-item {
      .caption {
        .display-1 {
          font-size: 1.3rem;
        }
      }
    }

    .carousel-control {
      .icon-prev,
      .icon-next {
        i {
          font-size: 2rem;
        }
      }
    }
  }
}

section.categories_slider {
  background: $gray-lighter-second;
  padding: 2rem 0;


  h2.h2 {
    font-weight: normal;
    text-align: center;
    margin: 0 0 2.5rem;
  }

  .owl-item {
    a { 
      position:relative;
    
      span {
        display: block;
        background: rgba(0,0,0, .7);
        position: absolute;
        width: 100%;
        bottom: 0;
        color: white;
        padding: 1rem .5rem;
        font-size: 1.2rem;
      }
    }
  }
}

section.sbs_manufacturer_slider {
  background: rgba(0, 0, 0, .1);
  padding: 4rem 0;

  h2.h2 {
    font-weight: normal;
    text-align: center;
    margin: 0 0 1rem;
    font-size: 2rem;
    text-transform: uppercase;
  }

  p.h3.product-title {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 00, .7);
    display: block;
    width: 100%;
    padding: 1rem .5rem;
    text-transform: none;
    color: white;
    margin: 0;

    a { color: $white;}
  }

}

/**** homeIcons ****/
.homeIcons {
  .rte {
    padding: 1rem;
    box-shadow: none;
    border-radius: 10px;
    transition: .3s box-shadow;

    img {
      margin: auto;
    }

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, .2);

    }
  }
}